*.zip
config*.xml
localconfig.json
node_modules
/nbproject/private/
/nbproject
doofinder.log
test_doofinder.php
/deploy
/dist/*
!/dist/*latest*.zip
vendor/
composer.lock
.php-cs-fixer.dist.php
.php-cs-fixer.cache