
# For Apache 2.2
<IfModule !mod_authz_core.c>
    <FilesMatch "\.php$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>

# For Apache 2.4
<IfModule mod_authz_core.c>
    <FilesMatch "\.php$">
        Require all denied
    </FilesMatch>
</IfModule>
